   </main>
      <footer class="text-center mt-12 text-gray-400">
            <p>&copy; 2025. Todos os arquivos são processados no servidor e apagados após o uso. | Desenvolvido por Infraestrutura Consórcio Magalu.</p>
        </footer>
    </div>
    <script src="/js/main.js"></script>
</body>
</html>